<div>   
    <h1 mat-dialog-title>Agregar Venta</h1>
    <div mat-dialog-content style="background-color: darkorange; padding: 10px 10px 15px 10px;">
       <mat-form-field>
           <mat-label>Nombre</mat-label>
           <input matInput type="text" [(ngModel)]="nombre" [required]="true">
       </mat-form-field>
       <form [formGroup] = "form" (ngSubmit) = "SubirConcepto()">
            <mat-form-field>
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="Cantidad">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Precio Unitario</mat-label>
                <input matInput type="number" formControlName="PrecioUnitario">
            </mat-form-field><br>
        <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid">Subir Detalle</button>       
    </form><br>
    <div>
        <table style="width: 100%; border-style: groove;">
            <tr>
                <th>Cantidad</th>
                <th>Precio Unitario</th> 
            </tr>
            <tr *ngFor="let item of concepts" style="text-align: center;">
                <td>{{item.Cantidad}}</td>
                <td>{{item.PrecioUnitario}}</td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click) = "RealizarVenta()">Agregar Venta</button>
        <button mat-raised-button color="basic" (click) = "close()">Cancelar</button>
    </div>
    <div>
</div>