<h1>Ventas de mi Local</h1>

<div>
    <table mat-table [dataSource]="lst">
        <ng-container matColumnDef="Id">
            <th mat-header-cell></th>
            <td></td>
        </ng-container>
        <ng-container>
            <th></th>
            <td></td>
        </ng-container>
        <ng-container>
            <th></th>
            <td></td>
        </ng-container>
        <ng-container>
            <th></th>
            <td></td>
        </ng-container>
        <tr></tr>
        <tr></tr>
    </table>
</div>